.daftar {
  font-size: 40px;
  margin: 0 5px 10px 5px;
}

.huruf {
  width: 100%;
  height: 375px;
  font-size: 170px;
  align-items: center;
}

.prev {
  width: 100%;
  height: 375px;
  font-size: 100px;
  align-items: center;
}

.sekat {
  margin-top: 15px;
}
.kata {
  width: 100%;
  height: 140px;
  font-size: 70px;
}