.daftar {
  font-size: 40px;
  margin: 0 5px 10px 5px;
}

.huruf {
  padding-top: 40px;
  width: 100%;
  height: 340px;
  font-size: 170px;
  text-align: center;
}

.suara {
  width: 100%;
  border-radius: 5px;
  /* align-items: center; */
}

.prev {
  width: 100%;
  height: 375px;
  font-size: 100px;
  align-items: center;
}

.sekat {
  margin-top: 15px;
}
.kata {
  width: 100%;
  height: 140px;
  font-size: 70px;
}

.nopadding {
  /* padding: 0 !important;
  margin: 0 !important; */
}

@media only screen and (max-width: 600px) {
  .daftar {
    display: none;
  }
  
  .huruf {
    padding-top: 40px;
    width: 100%;
    height: 340px;
    font-size: 150px;
    text-align: center;
  }

  .suara {
    width: 100%;
    border-radius: 5px;
  }
  
  .prev {
    width: 100%;
    height: 375px;
    font-size: 30px;
    align-items: center;
  }
  
  .sekat {
    margin-top: 15px;
  }
  .kata {
    width: 100%;
    height: 90px;
    font-size: 35px;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
}